DataFactory/pipeline/pipeline_ingest_f1data.json
{
	"name": "pipeline_ingest_f1data",
	"properties": {
		"activities": [
			{
				"name": "Ingest Circuits File",
				"type": "DatabricksNotebook",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/learning/ingestion/1.ingest_circuits",
					"baseParameters": {
						"p_data_source": {
							"value": "@variables('v_data_source')",
							"type": "Expression"
						},
						"p_file_data": {
							"value": "@formatDateTime(pipeline().parameters.p_window_end_date, 'yyyy-MM-dd')",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_DataBricks_Factory_ws",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Ingest Races File",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Ingest Circuits File",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/learning/ingestion/2.ingest_races",
					"baseParameters": {
						"p_data_source": {
							"value": "@variables('v_data_source')",
							"type": "Expression"
						},
						"p_file_data": {
							"value": "@formatDateTime(pipeline().parameters.p_window_end_date, 'yyyy-MM-dd')",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_DataBricks_Factory_ws",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Ingest Results File",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Ingest Drivers File",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/learning/ingestion/5.ingest_results",
					"baseParameters": {
						"p_data_source": {
							"value": "@variables('v_data_source')",
							"type": "Expression"
						},
						"p_file_data": {
							"value": "@formatDateTime(pipeline().parameters.p_window_end_date, 'yyyy-MM-dd')",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_DataBricks_Factory_ws",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Ingest Pit Stops File",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Ingest Results File",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/learning/ingestion/6.ingest_pit_stops",
					"baseParameters": {
						"p_data_source": {
							"value": "@variables('v_data_source')",
							"type": "Expression"
						},
						"p_file_data": {
							"value": "@formatDateTime(pipeline().parameters.p_window_end_date, 'yyyy-MM-dd')",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_DataBricks_Factory_ws",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Ingest Lap Times File",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Ingest Pit Stops File ",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/learning/ingestion/7.ingest_lap_times",
					"baseParameters": {
						"p_data_source": {
							"value": "@variables('v_data_source')",
							"type": "Expression"
						},
						"p_file_data": {
							"value": "@formatDateTime(pipeline().parameters.p_window_end_date, 'yyyy-MM-dd')",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_DataBricks_Factory_ws",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Ingest Constructors File",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Ingest Races File",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/learning/ingestion/3.ingest_constructors",
					"baseParameters": {
						"p_data_source": {
							"value": "@variables('v_data_source')",
							"type": "Expression"
						},
						"p_file_data": {
							"value": "@formatDateTime(pipeline().parameters.p_window_end_date, 'yyyy-MM-dd')",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_DataBricks_Factory_ws",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Ingest Drivers File",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Ingest Constructors File",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/learning/ingestion/4.ingest_drivers",
					"baseParameters": {
						"p_data_source": {
							"value": "@variables('v_data_source')",
							"type": "Expression"
						},
						"p_file_data": {
							"value": "@formatDateTime(pipeline().parameters.p_window_end_date, 'yyyy-MM-dd')",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_DataBricks_Factory_ws",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Ingest Qualifying File",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Ingest Lap Times File",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/learning/ingestion/8.ingest_qualifying",
					"baseParameters": {
						"p_data_source": {
							"value": "@variables('v_data_source')",
							"type": "Expression"
						},
						"p_file_data": {
							"value": "@formatDateTime(pipeline().parameters.p_window_end_date, 'yyyy-MM-dd')",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_DataBricks_Factory_ws",
					"type": "LinkedServiceReference"
				}
			}
		],
		"concurrency": 1,
		"parameters": {
			"p_window_end_date": {
				"type": "string"
			}
		},
		"variables": {
			"v_data_source": {
				"type": "String",
				"defaultValue": "Ergast"
			}
		},
		"annotations": []
	}
}